extend ../../layouts/layout.jade

block title
	| Profile

mixin form-row(label)
	.form-row
		.form-row__label: label.label!= label
		.form-row__content
			block

block breadcrumb
	+breadcrumb-item("tuấn minh", "#")

block content
	.profile-page
		.profile-page__header.fluid-header
			.fluid-header__content
				.fluid-header__profile.profile
					.profile__img
					h1.profile__name Tuấn Minh
				.fluid-header__tabs.selector
					.fluid-header__tab.selected: a(href = "../profile") trang cá nhân
					.fluid-header__tab: a(href = "../profile-product") niêm yết
					.fluid-header__tab: a(href = "../profile-product") đấu giá
		.profile-page__body.browse-main
			section.profile-section.db-section
				header.db-section__header.profile-fix__title
					h1.db-section__title 154 nhận xét
					.rating.rating--disabled
						span.rating__star ☆
						span.rating__star ☆
						span.rating__star.highlight ☆
						span.rating__star.highlight ☆
						span.rating__star.highlight ☆
				.comment-list
					.comment
						.comment__img-wrapper
							div.comment__img
						.comment__content
							.comment__header
								.comment__rating
									.rating.rating--disabled
										span.rating__star ☆
										span.rating__star ☆
										span.rating__star.highlight ☆
										span.rating__star.highlight ☆
										span.rating__star.highlight ☆
								h1.comment__title Detailed review of the Fire Phone. Good first attempt by Amazon on this very innovative yet somewhat flawed phone.
							h2.comment__user
								span Nhận xét bởi 
								a(href = "#") Tuấn Minh 
								span vào 4 ngày trước
							p.comment__description Let me preface this by saying, my 4-star rating is based on what this phone IS, not what it ISN'T as this is the only fair way to review the phone. But, I am going to go over both so you know what you're getting yourself into:
			section.profile-section.db-section
				header.db-section__header
					h1.db-section__title Đăng nhận xét của bạn:
				
				form.form.form--profile
					+form-row("Đánh giá")
						div.profile-fix__rating: .rating
							span.rating__star ☆
							span.rating__star ☆
							span.rating__star ☆
							span.rating__star ☆
							span.rating__star ☆
					+form-row("Tiêu đề")
						input(type = "text").text-box.text-box--full-width
					+form-row("Nội dung")
						textarea(rows = "4").text-box.text-box--full-width.text-box--multi-lines