
<html>
  <head>
    <title>EBachHoa - Profile</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <script src="../../vendors/jquery.min.js"></script>
    <script src="../../vendors/accounting.min.js"></script>
    <script src="../../vendors/jquery-circle-progress-1.1.3/dist/circle-progress.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendors/slick-1.5.7/slick/slick.css"/>
    <script type="text/javascript" src="../../vendors/slick-1.5.7/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendors/lato/latofonts.css"/>
  </head>
  <body>
    <div id="page-container">
      <header class="main-header">
        <div class="user-bar">
          <div class="user-bar__content">
            <div class="user-bar__left"><a href="../profile" class="user-bar__hello">Chào bạn, Tuấn Minh!</a><a href="../sell" class="button button--rect">bán</a><a href="../help-contact" class="user-bar__link">Liên hệ</a><a href="../help-faq" class="user-bar__link">Giúp đỡ</a></div>
            <div class="user-bar__right"><a href="../dashboard-buy" class="user-bar__link">Quản lý &amp; Mua bán</a><a href="../dashboard-inbox" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">chat</i><span class="icon__badge">4</span></div></a><a href="../cart" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">shopping_cart</i><span class="icon__badge">2</span></div></a></div>
          </div>
        </div>
        <div class="top-search">
          <div class="top-search__content"><a href="../home" class="top-search__logo"></a>
            <div class="top-search__search-box">
              <form class="top-search-box">
                <div class="top-search-box__icon icon"><i class="icon__icon material-icons">search</i></div>
                <input type="text" class="top-search-box__input text-box text-box--transparent text-box--no-padding"/>
                <select class="top-search-box__select select select--transparent">
                  <option>Tất cả danh mục</option>
                </select>
                <div class="top-search-box__button top-search-box__submit-button"><a href="../search" class="button button--full-width"><i class="icon__icon material-icons top-search-box__submit-button-icon">search</i><span class="top-search-box__submit-button-text">tìm kiếm</span></a></div>
                <div class="top-search-box__button top-search-box__more-button"><a href="../search" class="button button--gray button--rect button--full-width">nâng cao</a></div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="breadcrumb">
        <div class="breadcrumb__content">
          <ul class="breadcrumb__items">
                  <li class="breadcrumb__item"><a href="../home">trang chủ</a></li>
                  <li class="breadcrumb__item"><a href="#">tuấn minh</a></li>
          </ul>
        </div>
      </div>
      <div id="main-content">
        <div class="profile-page">
          <div class="profile-page__header fluid-header">
            <div class="fluid-header__content">
              <div class="fluid-header__profile profile">
                <div class="profile__img"></div>
                <h1 class="profile__name">Tuấn Minh</h1>
              </div>
              <div class="fluid-header__tabs selector">
                <div class="fluid-header__tab selected"><a href="../profile">trang cá nhân</a></div>
                <div class="fluid-header__tab"><a href="../profile-product">niêm yết</a></div>
                <div class="fluid-header__tab"><a href="../profile-product">đấu giá</a></div>
              </div>
            </div>
          </div>
          <div class="profile-page__body browse-main">
            <section class="db-section">
              <header class="db-section__header profile-fix__title">
                <h1 class="db-section__title">154 nhận xét</h1>
                <div class="rating rating--disabled"><span class="rating__star">☆</span><span class="rating__star">☆</span><span class="rating__star highlight">☆</span><span class="rating__star highlight">☆</span><span class="rating__star highlight">☆</span></div>
              </header>
              <div class="comment-list">
                <div class="comment">
                  <div class="comment__img-wrapper">
                    <div class="comment__img"></div>
                  </div>
                  <div class="comment__content">
                    <div class="comment__header">
                      <div class="comment__rating">
                        <div class="rating rating--disabled"><span class="rating__star">☆</span><span class="rating__star">☆</span><span class="rating__star highlight">☆</span><span class="rating__star highlight">☆</span><span class="rating__star highlight">☆</span></div>
                      </div>
                      <h1 class="comment__title">Detailed review of the Fire Phone. Good first attempt by Amazon on this very innovative yet somewhat flawed phone.</h1>
                    </div>
                    <h2 class="comment__user"><span>Nhận xét bởi </span><a href="#">Tuấn Minh </a><span>vào 4 ngày trước</span></h2>
                    <p class="comment__description">Let me preface this by saying, my 4-star rating is based on what this phone IS, not what it ISN'T as this is the only fair way to review the phone. But, I am going to go over both so you know what you're getting yourself into:</p>
                  </div>
                </div>
              </div>
            </section>
            <section class="db-section">
              <header class="db-section__header">
                <h1 class="db-section__title">Đăng nhận xét của bạn:</h1>
              </header>
              <form class="form form--profile">
                <div class="form-row">
                  <div class="form-row__label">
                    <label class="label">Đánh giá</label>
                  </div>
                  <div class="form-row__content">
                    <div class="profile-fix__rating">
                      <div class="rating"><span class="rating__star">☆</span><span class="rating__star">☆</span><span class="rating__star">☆</span><span class="rating__star">☆</span><span class="rating__star">☆</span></div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-row__label">
                    <label class="label">Tiêu đề</label>
                  </div>
                  <div class="form-row__content">
                    <input type="text" class="text-box text-box--full-width"/>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-row__label">
                    <label class="label">Nội dung</label>
                  </div>
                  <div class="form-row__content">
                    <textarea rows="4" class="text-box text-box--full-width text-box--multi-lines"></textarea>
                  </div>
                </div>
              </form>
            </section>
          </div>
        </div>
      </div>
      <footer class="footer footer--100"></footer>
      <script src="../../assets/scripts/app.js"></script>
    </div>
  </body>
</html>