extend ../../layouts/layout.jade

block title
	| Profile

block breadcrumb
	+breadcrumb-item("tuấn minh", "#")

block content
	.profile-page
		.profile-page__header.fluid-header
			.fluid-header__content
				.fluid-header__profile.profile
					.profile__img
					h1.profile__name Tuấn Minh
				.fluid-header__tabs.selector
					.fluid-header__tab.selected: a(href = "#") tất cả
					.fluid-header__tab: a(href = "#") niêm yết
					.fluid-header__tab: a(href = "#") đấu giá
		.profile-page__body.browse-main
			.browse-main__body
				.product-list.product-list--5-cols
					- for (var i = 0; i < 20; i++)
						- var imgId = Math.floor(Math.random() * 10) + 1
						.product-list__item
							.product
								a.product__link-wrapper(href = "../product")
									img(src = "../../assets/images/product/#{imgId}-small.jpg",
										width = "auto", height = "auto").product__thumb
									h1.product__title Lorem ipsum
									h2.product__normal-price Niêm yết: 2.300.000 ₫
									h3.product__highlight-price Giá đấu: 2.400.000 ₫
			.browse-main__pagination
				include ../../layouts/pagination.jade