extend ../../layouts/layout.jade

block setting
	.hide-breadcrumb

block title
	| Checkout 3

block content
	.checkout-page.step-page.step-page--wo-breadcrumb
		.steps.step-page__steps
			ul.steps__list
				li.steps__item
					a giỏ hàng
				li.steps__item
					a vận chuyển
				li.steps__item
					a thanh toán
				li.steps__item.selected
					a hoàn tất
		.checkout-thankyou
			h1.page-title.checkout-thankyou__title Cám ơn bạn đã mua hàng!
			p.checkout-thankyou__text.
				Hoá đơn sẽ được gửi đến email của bạn.<br>
				Bạn cũng có thể xem lại chi tiết đơn hàng từ trang cá nhân.
			a(href = "../home").checkout-thankyou__button.button tiếp tục mua sắm