extend ../../layouts/sell-layout.jade

block prepend content
	- var selectedStep = 1

block sell-content
	.sell-product-detail
		form.form.form--sell
			.form-group
				+form-row("thể loại đăng")
					div.sell-product-detail__sell-type
						select.select: option đấu giá
						div.sell-product-detail__description
							p <span class="text-dark">Đấu giá:</span> Đăng bán sản phẩm và để cộng đồng user định giá bán thông qua hình thức trả giá theo lượt. 
							p <span class="text-dark">Giá niêm yết:</span> Đăng bán sản phẩm với Giá bán Cố định do Người bán quyết định.
				+form-row("tên sản phẩm")
					input(type = "text").text-box.text-box--full-width
				+form-row("mô tả")
					textarea(rows = "4").text-box.text-box--full-width.text-box--multi-lines
				+form-row("ảnh sản phẩm")
					.image-holders
						- for (var i = 0; i < 4; i++)
							input.image-holders__input(type = "file", id = "input#{i}")
							label.image-holders__label.image-holder.image-holder--add(
								for = "input#{i}")
					div.image-urls
						label.label.image-urls__label Và/hoặc nhập URL của ảnh
						.image-urls__urls
							input.image-urls__url.text-box(placeholder = "URL ảnh 1")
							input.image-urls__url.text-box(placeholder = "URL ảnh 2")
							input.image-urls__url.text-box(placeholder = "URL ảnh 3")
							input.image-urls__url.text-box(placeholder = "URL ảnh 4")
				+form-row("đơn vị tiền tệ")
					select.select(disabled): option VND (Việt Nam Đồng)
				+form-row("tình trạng sản phẩm")
					select.select: option Như mới
				+form-row("giá khởi điểm (VND)")
					input(type = "text").text-box
				+form-row("bước giá")
					.radio
						div.radio__row
							input.radio__button(type = "radio", name = "price-step", value = "default", checked)#price-step-default
							label.radio__label(for = "price-step-default") Sử dụng Bước giá mặc định
						div.radio__row
							input.radio__button(type = "radio", name = "price-step", value = "custom")#price-step-custom
							label.radio__label(for = "price-step-custom") Tuỳ chọn Bước giá 
							| &nbsp;&nbsp;
							input(type = "text", value = "1.000.000", disabled).text-box
							| &nbsp;
							label.label.label--inline &nbsp; VND
				+form-row("thời gian bắt đầu")
					.radio
						div.radio__row
							input.radio__button(type = "radio", name = "start-time", value = "default", checked)#start-time-default
							label.radio__label(for = "start-time-default") Ngay bây giờ
						div.radio__row
							input.radio__button(type = "radio", name = "start-time", value = "custom")#start-time-custom
							label.radio__label(for = "start-time-custom") Tuỳ chỉnh
				+form-row("thời gian kết thúc")
					.radio
						div.radio__row
							input.radio__button(type = "radio", name = "stop-time", value = "default", checked)#stop-time-default
							label.radio__label(for = "stop-time-default") Mặc định
						div.radio__row
							input.radio__button(type = "radio", name = "stop-time", value = "custom")#stop-time-custom
							label.radio__label(for = "stop-time-custom") Tuỳ chỉnh
							| &nbsp;&nbsp;
							select.select(disabled): option 1 ngày
			.form-group
				+form-row("Kích hoạt<br>Giá kích hoạt phiên")
					.checkbox
						input(type = "checkbox", checked).checkbox__button#enable-price
						label(for = "enable-price").checkbox__label &nbsp;
					input(type = "text", value = "1.000.000").text-box
					| &nbsp;
					label.label.label--inline &nbsp; VND
				+form-row("Kích hoạt<br>Giá niêm yết")
					.checkbox
						input(type = "checkbox").checkbox__button#enable-price-2
						label(for = "enable-price-2").checkbox__label &nbsp;
					input(type = "text", value = "1.000.000", disabled).text-box
					| &nbsp;
					label.label.label--inline &nbsp; VND
				+form-row("Mức giá huỷ niêm yết")
					input(type = "range", min="0" max="100" step="10").range
					label.label.label--inline &nbsp; 40% ~ 3.000.000 VND
			.form-group.last
				+form-row("Kích hoạt<br>Giá kích hoạt phiên")
					.checkbox
						.checkbox__row
							input(type = "checkbox", checked).checkbox__button#repost-expire
							label(for = "repost-expire").checkbox__label Khi hết hạn
						.checkbox__row
							input(type = "checkbox").checkbox__button#repost-sold
							label(for = "repost-sold").checkbox__label Khi đã bán
				+form-row("số lần tự động đăng lại")
					select.select: option 1 lần

block sell-footer
	+footer-button("quay lại", "../sell")(class = "button--gray")
	+footer-button("lưu bản thảo", "#")(class = "button--gray")
	+footer-button("tiếp tục", "../sell-3")