extend ../layouts/layout.jade

block title
	| Category

block breadcrumb
	+breadcrumb-item("browse", "#")
	+breadcrumb-item("category", "#")

block content
	aside.category-tree
		ul
			li.accordion.accordion--selected
				h1.accordion__title.category-tree__item-1
					a(href = "#") mỹ phẩm
				ul.accordion__content.category-tree__list-1
					li.accordion.accordion--selected
						h1.accordion__title.category-tree__item-2
							a(href = "#") trang điểm - làm đẹp
						ul.accordion__content.category-tree__list-2
							each title in ["Toàn thân", "Vùng mắt", "Vùng mặt", "Vùng môi", "Móng tay - chân", "Bộ trang điểm All-in-one", "Dụng cụ làm đẹp"]
								li.category-tree__item-3: a(href = "#")= title
					li.accordion
						h1.accordion__title.category-tree__item-2
							a(href = "#") chăm sóc da
						ul.accordion__content.category-tree__list-2
							li.category-tree__item-3: a(href = "#") Toàn thân
					li.accordion
						h1.accordion__title.category-tree__item-2
							a(href = "#") chăm sóc móng
						ul.accordion__content.category-tree__list-2
							li.category-tree__item-3: a(href = "#") Toàn thân
					li.accordion
						h1.accordion__title.category-tree__item-2
							a(href = "#") phòng tắm - spa
						ul.accordion__content.category-tree__list-2
							li.category-tree__item-3: a(href = "#") Toàn thân
			li.accordion
				h1.accordion__title.category-tree__item-1
					a(href = "#") nước hoa
				ul.accordion__content.category-tree__list-1
					li.category-tree__item-2 abc
	