extend ../layouts/layout.jade

block title
	| Product

block breadcrumb
	+breadcrumb-item("browse", "#")
	+breadcrumb-item("category", "#")
	+breadcrumb-item("product", "#")

block content
	.product-page
		.product-page__tags
			.product-tags
				each title in ["mới – chưa qua sử dụng", "free vận chuyển", "người bán uy tín"]
					.product-tags__tag
						h1.tag.button.button--line.button--large.button--full-width= title
		.product-page__main
			.product-page__img
				.preview
					ul.preview__thumbs.preview-thumbs
						- for (var i = 1; i < 5; i++)
							li.preview-thumbs__thumb
								.preview-thumb(class = (i === 1 ? "preview-thumb--selected" : ""))
									img(src = "../assets/images/product/#{i}-small.jpg",
										width = "110", height = "110")
					.preview__main
						img(src = "../assets/images/product/1.jpg", 
							width = "500", height = "500")
				.product-page-report
					a(href = "#").button.button--line theo dõi
					a(href = "#").button đăng bán cùng chuyên mục
					a(href = "#").button.button--line báo vi phạm
			.product-page__description
				.product-summary
					h1.product-summary__title Kính mát Cazal Model 901 Authentic Mới chưa sử dụng.
					.product-summary__info
						p
							| Người bán 
							a(href = "#") Lorem ipsum
						p
							| Đăng ký từ 
							span.text-dark 05/2015
						p
							| Shop 
							a(href = "#") hihihaha
				hr.hr
				.product-deadline
					h1.product-deadline__primary
						span.product-deadline__big-text 1 
						| Ngày 
						span.product-deadline__big-text 12 
						| Giờ 
						span.product-deadline__big-text 28 
						| Phút
					h2.product-deadline__secondary Kết thúc ngày 15/03/2015 – 19:05
				hr.hr
				.product-deal
					.product-deal__info
						.product-deal__price 2.000.000 ₫
						.product-deal__counter 20 lượt đặt
					.product-deal__action
						a(href = "#").product-buy__button.button.button--full-width đặt 2.100.000 ₫
						a(href = "#").product-buy__button.button.button--full-width.button--gray đặt giá của bạn
				hr.hr
				.product-buy
					.product-buy__info
						.product-buy__old-price 3.000.000 ₫
						.product-buy__price 2.500.000 ₫
						select.product-buy__select.select.select--line.select--full-width
							option size
						select.product-buy__select.select.select--line.select--full-width
							option qty
					.product-buy__action
						a(href = "#").product-buy__button.button.button--full-width mua ngay
						a(href = "#").product-buy__button.button.button--full-width.button--gray cho vào giỏ hàng
						a(href = "#").product-buy__button.button.button--full-width.button--gray thương lượng
		.product-page__tabs
			dl.tabs
				dt.tabs__title.selected Mô tả sản phẩm
				dd.tabs__content lorem 1
				dt.tabs__title Thanh toán &amp; Vận chuyển
				dd.tabs__content lorem 2
				dt.tabs__title Đặt câu hỏi với người bán
				dd.tabs__content lorem 3
block footer
	.product-disclaimer
		p.product-disclaimer__content
			| Người bán, 
			a(href = "#") Lorem ipsum 
			| chịu hoàn toàn trách nhiệm
			br
			| về nội dung đăng của phiên giao dịch này