
<html>
  <head>
    <title>EBachHoa - Sell</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <script src="../../vendors/jquery.min.js"></script>
    <script src="../../vendors/accounting.min.js"></script>
    <script src="../../vendors/jquery-circle-progress-1.1.3/dist/circle-progress.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendors/slick-1.5.7/slick/slick.css"/>
    <script type="text/javascript" src="../../vendors/slick-1.5.7/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendors/lato/latofonts.css"/>
  </head>
  <body>
    <div id="page-container">
      <div class="hide-breadcrumb"></div>
      <header class="main-header">
        <div class="user-bar">
          <div class="user-bar__content">
            <div class="user-bar__left"><a href="../profile" class="user-bar__hello">Chào bạn, Tuấn Minh!</a><a href="../sell" class="button button--rect">bán</a><a href="../help-contact" class="user-bar__link">Liên hệ</a><a href="../help-faq" class="user-bar__link">Giúp đỡ</a></div>
            <div class="user-bar__right"><a href="../dashboard-buy" class="user-bar__link">Quản lý &amp; Mua bán</a><a href="../dashboard-inbox" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">chat</i><span class="icon__badge">4</span></div></a><a href="../cart" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">shopping_cart</i><span class="icon__badge">2</span></div></a></div>
          </div>
        </div>
        <div class="top-search">
          <div class="top-search__content"><a href="../home" class="top-search__logo"></a>
            <div class="top-search__search-box">
              <form class="top-search-box">
                <div class="top-search-box__icon icon"><i class="icon__icon material-icons">search</i></div>
                <input type="text" class="top-search-box__input text-box text-box--transparent text-box--no-padding"/>
                <select class="top-search-box__select select select--transparent">
                  <option>Tất cả danh mục</option>
                </select>
                <div class="top-search-box__button top-search-box__submit-button"><a href="../search" class="button button--full-width"><i class="icon__icon material-icons top-search-box__submit-button-icon">search</i><span class="top-search-box__submit-button-text">tìm kiếm</span></a></div>
                <div class="top-search-box__button top-search-box__more-button"><a href="../search" class="button button--gray button--rect button--full-width">nâng cao</a></div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="breadcrumb">
        <div class="breadcrumb__content">
          <ul class="breadcrumb__items">
                  <li class="breadcrumb__item"><a href="../home">trang chủ</a></li>
          </ul>
        </div>
      </div>
      <div id="main-content">
        <div class="sell-page step-page step-page--wo-breadcrumb">
          <div class="steps step-page__steps sell-page__steps">
            <ul class="steps__list">
              <li class="steps__item"><a href="#">danh mục</a></li>
              <li class="steps__item"><a href="#">chi tiết sản phẩm</a></li>
              <li class="steps__item"><a href="#">vận chuyển</a></li>
              <li class="steps__item"><a href="#">xem trước</a></li>
              <li class="steps__item selected"><a href="#">hoàn tất</a></li>
            </ul>
          </div>
          <div class="sell-done checkout-thankyou"><i class="material-icons sell-category-select__done-icon">check</i>
            <h1 class="page-title checkout-thankyou__title">Phiên giao dịch #101004 <br>đã được kích hoạt</h1>
            <p class="checkout-thankyou__text">
              Bạn có thể theo dõi phiên giao dịch từ trang quản lý mua bán.
              
            </p>
          </div>
          <div class="fluid-footer">
            <div class="fluid-footer__content">
              <div class="flex flex--equal cols sell-5-footer-content">
                <div class="cols__item"><a href="../sell" class="button button--full-width button--gray">đăng phiên khác</a>
                </div>
                <div class="cols__item"><a href="../dashboard-sell" class="button button--full-width undefined">quản lý mua bán</a>
                </div>
                <div class="cols__item">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer footer--100 footer--gray"></div>
      <script src="../../assets/scripts/app.js"></script>
    </div>
  </body>
</html>