
<html>
  <head>
    <title>EBachHoa - Sell</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <script src="../../vendors/jquery.min.js"></script>
    <script src="../../vendors/accounting.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
  </head>
  <body>
    <div id="page-container">
      <div class="hide-breadcrumb"></div>
      <header class="main-header">
        <div class="user-bar">
          <div class="user-bar__content">
            <div class="user-bar__left"><a href="../profile" class="user-bar__hello">Chào bạn, Tuấn Minh!</a><a href="../sell" class="button button--rect">bán</a><a href="../help-contact" class="user-bar__link">Liên hệ &amp; Giúp đỡ</a></div>
            <div class="user-bar__right"><a href="../dashboard-buy" class="user-bar__link">Quản lý &amp; Mua bán</a><a href="../dashboard-inbox" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">chat</i><span class="icon__badge">4</span></div></a><a href="../cart" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">shopping_cart</i><span class="icon__badge">2</span></div></a></div>
          </div>
        </div>
        <div class="top-search">
          <div class="top-search__content"><a href="../home" class="top-search__logo"></a>
            <div class="top-search__search-box">
              <form class="top-search-box">
                <div class="top-search-box__icon icon"><i class="icon__icon material-icons">search</i></div>
                <input type="text" class="top-search-box__input text-box text-box--transparent text-box--no-padding"/>
                <select class="top-search-box__select select select--transparent">
                  <option>Tất cả danh mục</option>
                </select>
                <div class="top-search-box__button top-search-box__submit-button"><a href="../search" class="button button--full-width">tìm kiếm</a></div>
                <div class="top-search-box__button top-search-box__more-button"><a href="../search" class="button button--gray button--rect button--full-width">nâng cao</a></div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="breadcrumb">
        <div class="breadcrumb__content">
          <ul class="breadcrumb__items">
                  <li class="breadcrumb__item"><a href="../home">trang chủ</a></li>
          </ul>
        </div>
      </div>
      <div id="main-content">
        <div class="sell-page step-page step-page--wo-breadcrumb">
          <div class="steps step-page__steps sell-page__steps">
            <ul class="steps__list">
              <li class="steps__item selected"><a href="#">danh mục</a></li>
              <li class="steps__item"><a href="#">chi tiết sản phẩm</a></li>
              <li class="steps__item"><a href="#">vận chuyển/thanh toán</a></li>
              <li class="steps__item"><a href="#">xem trước</a></li>
              <li class="steps__item"><a href="#">hoàn tất</a></li>
            </ul>
          </div>
          <div class="sell-category-select">
            <div class="sell-category-select__list">
              <ul class="sell-category-list">
                <li class="sell-category-list__item">nước hoa</li>
                <li class="sell-category-list__item">mỹ phẩm</li>
              </ul>
            </div>
            <div class="sell-category-select__list">
              <ul class="sell-category-list">
                <li class="sell-category-list__item">trang điểm<br>& làm đẹp</li>
                <li class="sell-category-list__item">chăm sóc da</li>
                <li class="sell-category-list__item">chăm sóc tóc</li>
                <li class="sell-category-list__item">tắm - spa</li>
              </ul>
            </div>
            <div class="sell-category-select__list">
              <ul class="sell-category-list">
                <li class="sell-category-list__item">toàn thân</li>
                <li class="sell-category-list__item">vùng mắt</li>
                <li class="sell-category-list__item">vùng mặt</li>
                <li class="sell-category-list__item">vùng môi</li>
                <li class="sell-category-list__item">móng tay - móng chân</li>
                <li class="sell-category-list__item">bộ trang điểm<br>all-in-one</li>
                <li class="sell-category-list__item">dụng cụ làm đẹp</li>
                <li class="sell-category-list__item">sản phẩm khác</li>
              </ul>
            </div>
            <div class="sell-category-select__list">
              <ul class="sell-category-list">
                <li class="sell-category-list__item">kẻ chân mày</li>
                <li class="sell-category-list__item">mascara</li>
                <li class="sell-category-list__item">kẻ mắt</li>
                <li class="sell-category-list__item">phấn mắt</li>
              </ul>
            </div>
            <div class="sell-category-select__list"><i class="material-icons sell-category-select__done-icon">check</i></div>
          </div>
          <div class="sell-page__category-selected sell-category-selected">
            <div class="sell-category-selected__title">danh mục đã chọn:</div>
            <ul class="sell-category-selected__items">
              <li class="sell-category-selected__item">mỹ phẩm</li>
              <li class="sell-category-selected__item">trang điểm &amp; làm đẹp</li>
              <li class="sell-category-selected__item">vùng mắt</li>
              <li class="sell-category-selected__item">mascara</li>
            </ul>
          </div>
          <div class="fluid-footer">
            <div class="fluid-footer__content">
              <div class="flex flex--equal cols">
                <div class="cols__item"><a href="../home" class="button button--full-width button--gray">huỷ phiên</a>
                </div>
                <div class="cols__item"><a href="#" class="button button--full-width button--gray">lưu bản thảo</a>
                </div>
                <div class="cols__item"><a href="../sell-2" class="button button--full-width undefined">tiếp tục</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer footer--100 footer--gray"></div>
      <script src="../../assets/scripts/app.js"></script>
    </div>
  </body>
</html>