extend ../../layouts/layout.jade

block title
	| Product

block breadcrumb
	+breadcrumb-item("browse", "#")
	+breadcrumb-item("category", "#")
	+breadcrumb-item("product", "#")

block content
	.product-page
		.product-page__tags
			.product-tags
				each title in ["mới – chưa qua sử dụng", "free vận chuyển", "người bán uy tín"]
					.product-tags__tag
						h1.product-tag: strong.product-tag__content= title
		.product-page__main
			.product-page__img
				.preview
					ul.preview__thumbs.preview-thumbs
						- for (var i = 1; i < 5; i++)
							li.preview-thumbs__thumb
								.preview-thumb(class = (i === 1 ? "preview-thumb--selected" : ""))
									img(src = "../../assets/images/product/#{i}-small.jpg",
										width = "110", height = "110")
					.preview__main
						img(src = "../../assets/images/product/1.jpg", 
							width = "500", height = "500")
				.product-page-report.cols
					.product-page-report__item.cols__item
						a(href = "#").button.button--line theo dõi
					.product-page-report__item.product-page-report__big-item.cols__item
						a(href = "#").button.button--orange-line đăng bán cùng chuyên mục
					.product-page-report__item.cols__item
						a(href = "#").button.button--line báo vi phạm
			.product-page__description
				.product-summary
					h1.product-summary__title Kính mát Cazal Model 901 Authentic Mới chưa sử dụng Lorem ipsum.
					.product-summary__deadline-info
						.product-summary__deadline
							.product-deadline.product-deadline--green
								h2.product-deadline__secondary.product-deadline__color 12 giờ 28 phút
								h1.product-deadline__primary
									span.product-deadline__big-text 1 
									| Ngày 
								h2.product-deadline__secondary Kết thúc 15/03<br>– 19:05
								div.product-deadline__circle
						.product-summary__info
							p
								| Người bán 
								a(href = "#") Lorem ipsum
							p
								| Đăng ký từ 
								span.text-dark 05/2015
							p
								| Shop 
								a(href = "#") hihihaha
							.product-summary__buttons
								a(href = "#").link Sản phẩm khác
								br
								a(href = "#").link Thêm vào yêu thích
				hr.hr
				.product-deal
					.product-deal__info
						h1.product-deal__price
							i.material-icons.product-deal__icon local_atm
							| 2.000.000 ₫
						h2.product-deal__counter 20 lượt đặt
					.product-deal__action
						a(href = "#").product-deal__button.button.button--full-width.button--large đặt 2.100.000 ₫
						a(href = "#").product-deal__button.button.button--full-width.button--large.button--gray đặt giá của bạn
				hr.hr
				.product-buy
					.product-buy__info
						h2.product-buy__old-price
							| 3.000.000 ₫
						h1.product-buy__price
							img.product-buy__icon(src = "../../assets/styles/img/ic_auction.svg", width = "24", height = "24")
							| 2.500.000 ₫
						select.product-buy__select.select.select--line.select--full-width
							option size
						select.product-buy__select.select.select--line.select--full-width
							option qty
					.product-buy__action
						a(href = "#").product-buy__button.button.button--full-width.button--large mua ngay
						a(href = "#").product-buy__button.button.button--full-width.button--large.button--gray cho vào giỏ hàng
						a(href = "#").product-buy__button.button.button--full-width.button--large.button--gray thương lượng
		.product-page__tabs
			dl.tabs
				dt.tabs__title.selected Mô tả sản phẩm
				dd.tabs__content lorem 1
				dt.tabs__title Thanh toán &amp; Vận chuyển
				dd.tabs__content lorem 2
				dt.tabs__title Đặt câu hỏi với người bán
				dd.tabs__content lorem 3
block footer
	.product-disclaimer
		p.product-disclaimer__content
			| Người bán, 
			a(href = "#") Lorem ipsum 
			| chịu hoàn toàn trách nhiệm
			br
			| về nội dung đăng của phiên giao dịch này