<!DOCTYPE html>
<html>
  <head>
    <title>EBachHoa - Search Setting</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../vendors/jquery.min.js"></script>
    <script src="../../vendors/accounting.min.js"></script>
    <script src="../../vendors/jquery-circle-progress-1.1.3/dist/circle-progress.js"></script>
    <script src="../../vendors/modernizr.min.js"></script>
    <script src="../../vendors/slick-1.5.7/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendors/slick-1.5.7/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="../../vendors/lato/latofonts.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../../assets/styles/app.css">
  </head>
  <body>
    <div id="page-container">
      <div class="hide-breadcrumb"></div>
      <header class="main-header">
        <div class="user-bar">
          <div class="user-bar__content">
            <div class="user-bar__left"><a href="../profile" class="user-bar__hello">Chào bạn, Tuấn Minh!</a><a href="../sell" class="button button--rect">bán</a><a href="../help-contact" class="user-bar__link">Liên hệ</a><a href="../help-faq" class="user-bar__link">Giúp đỡ</a></div>
            <div class="user-bar__right"><a href="../dashboard-buy" class="user-bar__link">Quản lý &amp; Mua bán</a><a href="../dashboard-inbox" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">chat</i><span class="icon__badge">4</span></div></a><a href="../cart" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">shopping_cart</i><span class="icon__badge">2</span></div></a></div>
          </div>
        </div>
        <div class="top-search">
          <div class="top-search__content"><a href="../home" class="top-search__logo"></a>
            <div class="top-search__search-box">
              <form class="top-search-box">
                <div class="top-search-box__icon icon"><i class="icon__icon material-icons">search</i></div>
                <input type="text" class="top-search-box__input text-box text-box--transparent text-box--no-padding">
                <select class="top-search-box__select select select--transparent">
                  <option>Tất cả danh mục</option>
                </select>
                <div class="top-search-box__button top-search-box__submit-button"><a href="../search" class="button button--full-width"><i class="icon__icon material-icons top-search-box__submit-button-icon">search</i><span class="top-search-box__submit-button-text">tìm kiếm</span></a></div>
                <div class="top-search-box__button top-search-box__more-button"><a href="../search" class="button button--gray button--rect button--full-width">nâng cao</a></div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="breadcrumb">
        <div class="breadcrumb__content">
          <ul class="breadcrumb__items">
                  <li class="breadcrumb__item"><a href="../home">trang chủ</a></li>
          </ul>
        </div>
      </div>
      <div id="main-content">
        <div class="browse-page search-advance-page">
          <div class="search-tree">
            <form class="form form--narrow">
              <div class="form-group">
                <label class="label special-label">Sắp xếp theo:</label>
                <select class="select select--full-width last">
                  <option>Giá (từ cao đến thấp)</option>
                </select>
              </div>
              <div class="form-group">
                <fieldset class="fieldset last">
                  <label class="label">chọn danh mục</label>
                  <select class="select select--full-width">
                    <option>mỹ phẩm</option>
                  </select>
                  <select class="select select--full-width">
                    <option>trang điểm &amp; làm đẹp</option>
                  </select>
                  <select class="select select--full-width">
                    <option>vùng mắt</option>
                  </select>
                  <select class="select select--full-width last">
                    <option>mascara</option>
                  </select>
                </fieldset>
              </div>
              <div class="form-group">
                <fieldset class="fieldset">
                  <label class="label">thể loại đăng</label>
                  <select class="select select--full-width last">
                    <option>đấu giá</option>
                  </select>
                </fieldset>
                <fieldset class="fieldset">
                  <label class="label">tình trạng</label>
                  <select class="select select--full-width last">
                    <option>như mới</option>
                  </select>
                </fieldset>
                <fieldset class="fieldset last">
                  <label class="label">mức giá</label>
                  <div class="multi-range last">
                    <div class="multi-range__bar">
                      <div style="width: 25%; margin-left: 80px" class="multi-range__value"></div>
                    </div>
                    <div class="multi-range__inputs">
                      <div class="multi-range__lower">
                        <input type="text" value="1,000,000 đ" class="text-box text-box--line text-box--small text-box--full-width">
                      </div>
                      <div id="multi-range__upper" class="multi-range__upper">
                        <input type="text" value="3,000,000 đ" class="text-box text-box--line text-box--small text-box--full-width">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form-group">
                <fieldset class="fieldset">
                  <label class="label">địa điểm đăng</label>
                  <select class="select select--full-width last">
                    <option>TP. Hồ Chí Minh</option>
                  </select>
                </fieldset>
                <fieldset class="fieldset radio">
                  <label class="label">đổi trả hàng</label>
                  <div class="flex flex--equal">
                    <div>
                      <input id="radio-return-no" type="radio" name="return" value="no" checked class="radio__button">
                      <label for="radio-return-no" class="radio__label">Không</label>
                    </div>
                    <div>
                      <input id="radio-return-yes" type="radio" name="return" value="yes" class="radio__button">
                      <label for="radio-return-yes" class="radio__label">Có</label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="fieldset radio last">
                  <label class="label">phí vận chuyển</label>
                  <div class="flex flex--equal">
                    <div>
                      <input id="radio-fee-no" type="radio" name="fee" value="no" class="radio__button">
                      <label for="radio-fee-no" class="radio__label">Không</label>
                    </div>
                    <div>
                      <input id="radio-fee-yes" type="radio" name="fee" value="yes" checked class="radio__button">
                      <label for="radio-fee-yes" class="radio__label">Có</label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="form-group last"><a href="../search" class="button button--full-width button--gray search-advance-page__cancel-btn">huỷ tuỳ chọn</a><a href="../search" class="button button--full-width search-advance-page__submit-btn">tìm kiếm nâng cao</a></div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer footer--100"></footer>
      <script src="../../assets/scripts/app.js"></script>
    </div>
  </body>
</html>