.form {
	&--vertical {
		.label {
			margin-bottom: 10px;
		}

		.text-box, .select, .radio {
			margin-bottom: 20px;
		}

		.fieldset {
			margin-bottom: 30px;
		}

		.form-group {
			margin-bottom: 40px;
		}
	}
	
	&--narrow {
		.fieldset {
			margin-bottom: 20px;
		}
		.form-group {
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: $border-gray solid 1px;

			&.last {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		.label, .select, .range {
			margin-bottom: 10px;
		}
	}
	&--contact {
		.text-box, .select {
			margin-bottom: 15px;
		}
		.button {
			width: 30%;
			margin-right: 0;
			margin-left: auto;
		}
	}
	&--upgrade {
	}

	&--sell {
		width: 800px;
		margin: auto;
		.select,
		.text-box:not(.text-box--full-width),
		.range {
			width: 220px;
		}
		.label {
			line-height: 14px;
		}
		.form-row {
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.form-group {
			padding-bottom: 50px;
			border-bottom: solid 1px $border-gray;
			margin-bottom: 50px;

			&.last {
				border-bottom: none;
			}
		}
	}
}

.form-row {
	display: flex;
	align-items: flex-start;

	&__label {
		flex-shrink: 0;
		width: 200px;
		text-align: right;
		padding-right: 30px;
		padding-top: 12px;
	}
	&__content {
		flex-grow: 1;
	}
}