.form {
	&--vertical {
		.label {
			margin-bottom: 10px;
		}

		.text-box, .select, .radio {
			margin-bottom: 20px;
		}

		.fieldset {
			margin-bottom: 30px;
		}

		.form-group {
			margin-bottom: 40px;
		}
	}
	
	&--narrow {
		.fieldset {
			margin-bottom: 20px;
		}
		.form-group {
			padding-bottom: 30px;
			margin-bottom: 30px;
			border-bottom: $border-gray solid 1px;

			&.last {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		.label, .select, .range {
			margin-bottom: 10px;
		}
	}
	&--contact {
		.text-box, .select {
			margin-bottom: 15px;
		}
		.button {
			width: 30%;
			margin-right: 0;
			margin-left: auto;
		}
	}
	&--upgrade {

	}
}