.image-holder {
	display: block;
	width: 100px; height: 100px;

	background-color: $button-gray;

	&--add {
		position: relative;
		cursor: pointer;

		&:before, &:after {
			@include pseudo-base;
			background-color: $secondary-text;
			top: 0; left: 0; right: 0; bottom: 0;
			margin: auto;
		}
		&:before {
			
			width: 30px; height: 6px;
		}
		&:after {
			width: 6px; height: 30px;
		}
	}

	@include respond-to(600px) {
		width: 50px; height: 50px;

		&--add {
			&:before {

				width: 15px; height: 3px;
			}
			&:after {
				width: 3px; height: 15px;
			}
		}
	}
}

.image-holders {
	display: flex;

	&__input {
		display: none;
	}

	&__label {
		margin-right: 20px;

		@include respond-to(600px) {
			margin-right: 10px;
		}
	}
}