.preview {
	display: flex;

	&__thumbs {
		margin-right: 20px;
	}

	&__main {

	}
}
.preview-thumbs {
	display: flex;
	flex-direction: column;

	&__thumb {
		margin-bottom: 20px;
	}
}
.preview-thumb {
	cursor: pointer;
	&--selected {
		opacity: 0.5;
		cursor: auto;
	}
}