.steps {
	text-align: center;

	&__list {
		display: inline-block;
		border-radius: 40px;
		box-shadow: $border-gray 0 0 0 1px inset;

		font-size: 0;
		position: relative;
	}

	&__item {
		display: inline-block;
		width: 200px;
		border-radius: 40px;

		font-size: 10px;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 40px;
		letter-spacing: 1px;

		&.selected {
			background-color: $dark-text;
			color: white;
		}
	}

	&__item > a {
		display: block;
	}

	@include respond-to(630px) {
		&__item {
			height: 30px;
			line-height: 30px;
		}
	}

	@include respond-to(1000px) {
		&__item {
			width: 150px;
		}
	}

	@include respond-to(760px) {
		&__list {
			width: 100%;
			overflow: scroll;
			white-space: nowrap;
		}
	}	
}