.text-box {
	display: inline-block;	
	width: auto; height: 40px;
	padding: 12px 15px;
	margin: 0;
	
	border: none;
	border-radius: 0;
	appearance: none;
	outline: none;

	background-color: #EEEEEE;
	
	color: $dark-text;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;

	&--transparent {
		background-color: transparent;
	}

	&--no-padding {
		padding: 0;
	}

	&--full-width {
		display: block;
		width: 100%;
	}

	&--line {
		background-color: transparent;
		box-shadow: $border-gray 0 0 0 1px inset;
		color: $dark-text;
	}
	&--small {
		height: 30px;
		line-height: 30px;
		font-weight: 400;
		padding: 0 10px;
	}

	&--multi-lines {
		height: auto;
	}

	&--cart-amount {
		width: 60px;
		text-align: center;
	}
}

.search-box {
	display: flex;
	align-items: center;

	border-radius: 40px;
	box-shadow: #ddd 0 0 0 1px inset;

	padding: 0 0 0 5px;
	overflow: hidden;

	&__icon {
		opacity: 0.26;
		font-size: 20px;
		width: 40px;
		text-align: center;
	}
	&__button {
		@extend .button;
		width: 150px;
	}
	&__text-box {
		@extend .text-box;
		@extend .text-box--transparent;
		@extend .text-box--no-padding;

		flex-grow: 1;
	}
}