extend ../../layouts/sell-layout.jade

block prepend content
	- var selectedStep = 3

block sell-content
	.sell-preview
		iframe(src = "../product/" width = "1100" height = "1000")
			p Your browser does not support iframes.