extend ../../layouts/sell-layout.jade

block prepend content
	- var selectedStep = 3

block sell-content
	.sell-preview
		iframe(src = "../product/" width = "1200" height = "1000")
			p Your browser does not support iframes.

block sell-footer
	+footer-button("quay lại", "../sell-3")(class = "button--gray")
	+footer-button("lưu bản thảo", "#")(class = "button--gray")
	+footer-button("tiếp tục", "../sell-5")