$online: true;
@import "base/all";
@import "modules/all";
@import "pages/all";

body {
	font-family: 'Lato', sans-serif;
	color: $dark-text;
}

#main-content {
	width: 100%;
	max-width: 1000px;
	margin: auto;
}

.selected {
	pointer-events: none;
}

.last {
	margin-bottom: 0 !important;
}