$online: true;
// $online: false;

@import "base/all";
@import "modules/all";
@import "pages/all";

body {
	font-family: "LatoWeb", sans-serif;
	color: $dark-text;
}

#main-content {
	width: 100%;
	max-width: 1200px;
	margin: auto;

	@include respond-to(1240px) {
		padding: 0 20px;
		overflow: hidden;
	}
}

.selected {
	pointer-events: none;
}

.last {
	margin-bottom: 0 !important;
}

.footer-2-buttons {
	display: flex;
	justify-content: center;

	> * {
		flex: 0 1 33%;
	}

	> * + * {
		margin-left: 20px;
	}
}