
<html>
  <head>
    <title>EBachHoa - Checkout 2</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../../assets/styles/app.css"/>
    <script src="../../vendors/jquery.min.js"></script>
    <script src="../../vendors/accounting.min.js"></script>
    <script src="../../vendors/jquery-circle-progress-1.1.3/dist/circle-progress.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendors/slick-1.5.7/slick/slick.css"/>
    <script type="text/javascript" src="../../vendors/slick-1.5.7/slick/slick.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../vendors/lato/latofonts.css"/>
    <script src="http://modernizr.com/downloads/modernizr-latest.js"></script>
  </head>
  <body>
    <div id="page-container">
      <div class="hide-breadcrumb"></div>
      <header class="main-header">
        <div class="user-bar">
          <div class="user-bar__content">
            <div class="user-bar__left"><a href="../profile" class="user-bar__hello">Chào bạn, Tuấn Minh!</a><a href="../sell" class="button button--rect">bán</a><a href="../help-contact" class="user-bar__link">Liên hệ</a><a href="../help-faq" class="user-bar__link">Giúp đỡ</a></div>
            <div class="user-bar__right"><a href="../dashboard-buy" class="user-bar__link">Quản lý &amp; Mua bán</a><a href="../dashboard-inbox" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">chat</i><span class="icon__badge">4</span></div></a><a href="../cart" class="user-bar__icon">
                <div class="icon"><i class="icon__icon material-icons">shopping_cart</i><span class="icon__badge">2</span></div></a></div>
          </div>
        </div>
        <div class="top-search">
          <div class="top-search__content"><a href="../home" class="top-search__logo"></a>
            <div class="top-search__search-box">
              <form class="top-search-box">
                <div class="top-search-box__icon icon"><i class="icon__icon material-icons">search</i></div>
                <input type="text" class="top-search-box__input text-box text-box--transparent text-box--no-padding"/>
                <select class="top-search-box__select select select--transparent">
                  <option>Tất cả danh mục</option>
                </select>
                <div class="top-search-box__button top-search-box__submit-button"><a href="../search" class="button button--full-width"><i class="icon__icon material-icons top-search-box__submit-button-icon">search</i><span class="top-search-box__submit-button-text">tìm kiếm</span></a></div>
                <div class="top-search-box__button top-search-box__more-button"><a href="../search" class="button button--gray button--rect button--full-width">nâng cao</a></div>
              </form>
            </div>
          </div>
        </div>
      </header>
      <div class="breadcrumb">
        <div class="breadcrumb__content">
          <ul class="breadcrumb__items">
                  <li class="breadcrumb__item"><a href="../home">trang chủ</a></li>
          </ul>
        </div>
      </div>
      <div id="main-content">
        <div class="checkout-page step-page step-page--wo-breadcrumb">
          <div class="steps step-page__steps">
            <ul class="steps__list">
              <li class="steps__item"><a>giỏ hàng</a></li>
              <li class="steps__item"><a>vận chuyển</a></li>
              <li class="steps__item selected"><a>thanh toán</a></li>
              <li class="steps__item"><a>hoàn tất</a></li>
            </ul>
          </div>
          <h1 class="page-title">Thanh toán</h1>
          <div class="payment-form checkout-page__payment-form">
            <form class="form form--vertical">
              <fieldset class="fieldset last">
                <div class="flex flex--equal cols radio last">
                  <div class="cols__item">
                    <input id="radio-payment-nganluong" type="radio" name="payment" value="nganluong" class="radio__button"/>
                    <label for="radio-payment-nganluong" class="radio__label">Qua Ngân lượng</label>
                  </div>
                  <div class="cols__item">
                    <input id="radio-payment-card" type="radio" name="payment" value="card" checked="checked" class="radio__button"/>
                    <label for="radio-payment-card" class="radio__label">Qua thẻ quốc tế</label>
                  </div>
                  <div class="cols__item">
                    <input id="radio-payment-cod" type="radio" name="payment" value="cod" class="radio__button"/>
                    <label for="radio-payment-cod" class="radio__label">Khi nhận hàng (COD)</label>
                  </div>
                </div>
              </fieldset>
              <hr class="hr hr--big"/>
              <fieldset id="card-fieldset" class="fieldset last">
                <label class="label">Họ và tên chủ thẻ</label>
                <input type="text" class="text-box text-box--full-width"/>
                <label class="label">Số thẻ</label>
                <input type="text" placeholder="XXXX - XXXX - XXXX - XXXX - XXXX" class="text-box text-box--full-width"/>
                <div class="flex flex--equal cols">
                  <div class="cols__item">
                    <label class="label">Hết hạn</label>
                    <select class="select select--full-width last">
                      <option>- Tháng -</option>
                      <option>Tháng 1</option>
                      <option>Tháng 2</option>
                      <option>Tháng 3</option>
                      <option>Tháng 4</option>
                      <option>Tháng 5</option>
                      <option>Tháng 6</option>
                      <option>Tháng 7</option>
                      <option>Tháng 8</option>
                      <option>Tháng 9</option>
                      <option>Tháng 10</option>
                      <option>Tháng 11</option>
                      <option>Tháng 12</option>
                    </select>
                  </div>
                  <div class="cols__item">
                    <label class="label">&nbsp;</label>
                    <select class="select select--full-width last">
                      <option>- Năm -</option>
                      <option>Năm 2000</option>
                      <option>Năm 2001</option>
                      <option>Năm 2002</option>
                      <option>Năm 2003</option>
                      <option>Năm 2004</option>
                      <option>Năm 2005</option>
                      <option>Năm 2006</option>
                      <option>Năm 2007</option>
                      <option>Năm 2008</option>
                      <option>Năm 2009</option>
                      <option>Năm 2010</option>
                      <option>Năm 2011</option>
                      <option>Năm 2012</option>
                      <option>Năm 2013</option>
                      <option>Năm 2014</option>
                      <option>Năm 2015</option>
                      <option>Năm 2016</option>
                      <option>Năm 2017</option>
                      <option>Năm 2018</option>
                      <option>Năm 2019</option>
                      <option>Năm 2020</option>
                      <option>Năm 2021</option>
                      <option>Năm 2022</option>
                      <option>Năm 2023</option>
                      <option>Năm 2024</option>
                      <option>Năm 2025</option>
                      <option>Năm 2026</option>
                      <option>Năm 2027</option>
                      <option>Năm 2028</option>
                      <option>Năm 2029</option>
                      <option>Năm 2030</option>
                      <option>Năm 2031</option>
                      <option>Năm 2032</option>
                      <option>Năm 2033</option>
                      <option>Năm 2034</option>
                      <option>Năm 2035</option>
                      <option>Năm 2036</option>
                      <option>Năm 2037</option>
                      <option>Năm 2038</option>
                      <option>Năm 2039</option>
                      <option>Năm 2040</option>
                      <option>Năm 2041</option>
                      <option>Năm 2042</option>
                      <option>Năm 2043</option>
                      <option>Năm 2044</option>
                      <option>Năm 2045</option>
                      <option>Năm 2046</option>
                      <option>Năm 2047</option>
                      <option>Năm 2048</option>
                      <option>Năm 2049</option>
                    </select>
                  </div>
                  <div class="cols__item">
                    <label class="label">CCV <a href="#" class="text-orange">(?)</a></label>
                    <input type="text" placeholder="XXX" class="text-box text-box--full-width last"/>
                  </div>
                </div>
              </fieldset>
              <fieldset id="nganluong-fieldset" class="fieldset last">
                <p class="checkout-thankyou__text">Nhấn nút bên dưới để thanh toán qua ngân lượng.</p><a href="#" class="button">thanh toán qua ngân lượng</a>
              </fieldset>
              <fieldset id="cod-fieldset" class="fieldset last">
                <p class="checkout-thankyou__text">Bạn sẽ thanh toán bằng tiền mặt với nhân viên giao hàng.</p>
              </fieldset>
              <hr class="hr hr--bigger"/>
              <div class="flex flex--equal cols">
                <div class="cols__item"><a href="../checkout" class="button--gray button button--full-width">quay lại</a></div>
                <div class="cols__item"><a href="../checkout-3" class="button button--full-width">hoàn tất</a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <footer class="footer footer--100"></footer>
      <script src="../../assets/scripts/app.js"></script>
    </div>
  </body>
</html>