extend ../../layouts/layout.jade

block setting
	.hide-breadcrumb

block title
	| Checkout 2

block content
	.checkout-page.step-page.step-page--wo-breadcrumb
		.steps.step-page__steps
			ul.steps__list
				li.steps__item
					a giỏ hàng
				li.steps__item
					a vận chuyển
				li.steps__item.selected
					a thanh toán
				li.steps__item
					a hoàn tất
		h1.page-title Thanh toán
		.payment-form.checkout-page__payment-form
			form.form.form--vertical
				fieldset.fieldset.last
					div.flex.flex--equal.cols.radio.last
						div.cols__item
							input.radio__button#radio-payment-nganluong(type = "radio", name = "payment", value = "nganluong")
							label.radio__label(for = "radio-payment-nganluong") Thanh toán qua Ngân lượng
						div.cols__item
							input.radio__button#radio-payment-card(type = "radio", name = "payment", value = "card", checked)
							label.radio__label(for = "radio-payment-card") Thanh toán qua thẻ quốc tế
				hr.hr.hr--big
				fieldset#card-fieldset.fieldset.last
					label.label Họ và tên chủ thẻ
					input(type = "text").text-box.text-box--full-width
					label.label Số thẻ
					input(type = "text", placeholder = "XXXX - XXXX - XXXX - XXXX - XXXX").text-box.text-box--full-width
					div.flex.flex--equal.cols
						div.cols__item
							label.label Hết hạn
							select.select.select--full-width.last
								option - Tháng -
								- for (var i = 1; i < 13; i++)
									option Tháng #{i}
						div.cols__item
							label.label &nbsp;
							select.select.select--full-width.last
								option - Năm -
								- for (var i = 2000; i < 2050; i++)
									option Năm #{i}
						div.cols__item
							label.label
								| CCV 
								a(href = "#").text-orange (?)
							input(type = "text", placeholder = "XXX").text-box.text-box--full-width.last
				fieldset#nganluong-fieldset.fieldset.last
					p.checkout-thankyou__text Nhấn nút bên dưới để thanh toán qua ngân lượng.
					a(href = "#").button thanh toán qua ngân lượng
				hr.hr.hr--bigger
				.flex.flex--equal.cols
					div.cols__item
						a(href = "../checkout").button--gray.button.button--full-width quay lại
					div.cols__item
						a(href = "../checkout-3").button.button--full-width thanh toán 5.500.000đ