.category-page {
	display: flex;

	&__aside {
		flex-shrink: 0;
		margin-right: 30px;
	}
}

.category-tree {
	width: 250px;

	background-color: $button-gray;
	border: solid 1px $border-gray;
	border-bottom: none;

	&__item-1 {
		background-color: white;
		background-image: url(img/select-arrow.png);
		background-size: 6px 4px;
		background-repeat: no-repeat;
		background-position: right 20px center;
		border-bottom: solid 1px $border-gray;
		padding-left: 30px;

		color: $dark-text;
		font-size: 12px;
		font-weight: 900;
		text-transform: uppercase;
		line-height: 50px;
	}
	&__item-2 {
		color: $dark-text;
		font-size: 10px;
		font-weight: 900;
		line-height: 30px;
		text-transform: uppercase;
	}
	&__item-3 {
		color: $secondary-text;
		font-size: 12px;
		font-weight: 400;
		line-height: 30px;
		text-transform: none;
	}

	&__list-1 {
		padding: 10px 30px;
		border-bottom: solid 1px $border-gray;
	}
	&__list-2 {
		padding: 10px 10px;
	}

	a {
		&:hover {
			color: $orange;
		}
	}
}

.category-list {
	display: flex;
	flex-wrap: wrap;

	&__item {
		margin-bottom: 10px;
		margin-right: 10px;

		&.selected a {
			color: $orange;
		}

		&:hover a {
			color: $orange;
		}
	}

	margin-bottom: -10px;
}

.category-aside {
	&__search {
		margin-bottom: 30px;
	}
}

.category-main {
	&__aside {
		margin-bottom: 30px;
	}
	&__body {
		margin-bottom: 10px;
	}
}

.category-search {
	&__title {
		color: $secondary-text;
		font-size: 10px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;

		margin-bottom: 10px;
	}
}