.checkout-page {
	&__shipping-form {
		width: 100%;
		max-width: 800px;
		margin: auto;

		@include respond-to(600px) {
			.hide-this {
				display: none;
			}
		}
	}
	&__payment-form {
		width: 100%;
		max-width: 500px;
		margin: auto;

		.radio {
			@include respond-to(600px) {
				flex-wrap: wrap;
				.cols__item {
					&:not(:first-child) {
						margin-top: 20px;
					}
				}
			}
		}
	}
}
.checkout-thankyou {
	text-align: center;
	&__title {
		margin-bottom: 30px;
	}
	&__text {
		margin-bottom: 30px;
		line-height: 24px;
	}
	&__button {
		width: 100%;
		max-width: 300px;
	}
}