.dashboard-page {
	&__header {
		background-color: $border-gray;
		margin-bottom: 30px;

		@include respond-to(600px) {
			padding-top: 10px;
			padding-bottom: 10px;
			.fluid-header__tabs {
				flex-wrap: wrap;
				height: auto;
			}
			.fluid-header__tab {
				flex: 1 0 50%;
				height: 30px;
				line-height: 30px;
			}
			.fluid-header__tab.selected {
				border-radius: 5px;
			}
		}
	}

	&__filter {
		margin-bottom: 30px;
	}

	&__content {
		
	}

	.sell-filter-form {
		margin-bottom: 30px;
	}
}

.db-filter {
	display: flex;

	&__item {
		flex: 1 0 0;
		// margin-right: 10px;

		&.selected a {
			color: $orange;
		}

		&:hover a {
			color: $orange;
		}
	}

	&__link {
		width: 100%;
	}

	@include respond-to(1000px) {
		flex-wrap: wrap;
		&__item {
			flex: 0 0 auto;
			width: 160px;
			margin-bottom: 10px;
		}
	}
}

.db-section-wrapper {
	@include respond-to(1200px) {
		overflow-y: hidden;
		overflow-x: scroll;

		// padding-bottom: 30px;
		margin-bottom: 50px;
		border-bottom: 1px solid $border-gray;
	}

	@include respond-to(600px) {
		margin-bottom: 20px;
	}
}

.db-section {
	border-bottom: 1px solid $border-gray;
	padding-bottom: 30px;
	margin-bottom: 50px;

	min-width: 1200px;

	@include respond-to(1200px) {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: none;
	}

	@include respond-to(600px) {
		padding-bottom: 10px;
		margin-bottom: 0;
	}

	&__header {
		margin-bottom: 30px;

		> * {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;

			&:first-child {
				margin-right: 20px;
			}
		}

		@include respond-to(600px) {
			margin-bottom: 20px;
		}

	}
	&__title {
		font-size: 24px;
		font-weight: 900;

		@include respond-to(600px) {
			font-size: 20px;
		}
	}
	&__list {
		margin-bottom: 30px;

		@include respond-to(600px) {
			margin-bottom: 10px;
		}
	}
}

.sell-table {
	tbody {
		tr {

		}

		td {
			&:nth-child(1) {
				text-align: left;
				img {
					margin: 0 4px;
				}
			}
			&:nth-child(2) {
				text-transform: uppercase;
				font-weight: 900;
				text-align: left;
			}
		}

		a:not(.button) {
			&:hover {
				color: $orange;
			}
		}
	}
}

.sell-filter-form {
	display: flex;
	&__search-box {
		flex-grow: 2;
	}
	&__select {
		flex-grow: 1;
	}
}

// inbox

.folders {
	display: block;

	&__item {
		border-bottom: solid 1px $border-gray;
	}
}

.folder {
	font-weight: 900;
	text-transform: uppercase;

	background-color: white;

	&__title {
		font-size: 12px;
		line-height: 60px;

		padding: 0 20px;
		background-image: url(img/arr-folder-collapsing.png);
		background-size: 4px 6px;
		background-repeat: no-repeat;
		background-position: center right 30px;

		cursor: pointer;
	}
	&__content {
		font-size: 10px;
		line-height: 40px;

		background-color: $border-gray;
		padding: 10px 20px;
	}
	&__child {
		&.selected {
			color: $orange;
		}
	}

	a {
		&:hover {
			color: $orange;
		}
	}

	&.selected &__title,
	&__title:hover {
		color: $orange;
		background-image: url(img/arr-folder-selected.png);
	}

	&.expanded &__title {
		color: $orange;
		background-image: url(img/arr-folder-expanding.png);
		background-size: 6px 4px;
	}
}

.message {
	display: block;

	font-size: 14px;
	color: $secondary-text;
	line-height: 20px;
	padding: 20px;

	@include respond-to(1000px) {
		padding-left: 0;
	}

	@include respond-to(800px) {
		padding: 10px 0;
	}

	&__title {
		color: $dark-text;
		font-weight: 700;
		margin-bottom: 5px;
	}

	&__user {
		margin-bottom: 5px;
	}

	&--selected {
		
	}
}

.messages {
	padding-bottom: 30px;
	
	&__item {
		border-bottom: solid 1px $border-gray;

		&.selected {
			.message {
				color: $dark-text;
			}
			.message__title {
				color: $orange;
			}
		}

		@include respond-to(800px) {
			.message {
				color: $dark-text;
			}
			.message__title {
				color: $orange;
			}

			&.selected {
				pointer-events: auto;
			}
		}
	}
	&__list {
		margin-bottom: 30px;
	}
	&__tool {
		display: none;
		padding: 20px;
		border-bottom: solid 1px $border-gray;

		@include respond-to(1000px) {
			display: block;
			padding-left: 0;
		}
		@include respond-to(800px) {
			padding: 10px 0;
		}

		> *:first-child {
			margin-bottom: 10px;
		}
	}
}

.message-full {
	padding: 30px;
	color: $dark-text;
	line-height: 24px;
	font-size: 16px;

	position: relative;

	&__title {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 16px;
	}

	&__user {
		margin-bottom: 16px;
	}

	p {
		margin-bottom: 16px;
	}

	&__back {
		color: $orange;
		text-decoration: underline;
		text-transform: uppercase;
		font-size: 12px;
		letter-spacing: 1px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	&__button {
		position: absolute;
		top: 20px; right: 0;
		// padding: 10px;

		width: 120px;
	}

	&--standalone {
		padding: 20px 0 80px;

		.message-full__button {
			top: auto;
			left: 0;
			bottom: 20px;
			width: 100%;

		}
	}
}

.inbox {

	&__folders {
		width: 180px;
		flex-shrink: 0;
		flex-grow: 0;

		background-color: $border-gray;
		border-right: solid 1px $border-gray;
		border-left: solid 1px $border-gray;

		@include respond-to(1000px) {
			display: none;
		}
	}

	&__messages {
		width: 320px;
		flex-shrink: 0;
		flex-grow: 0;

		border-right: solid 1px $border-gray;

		@include respond-to(800px) {
			border-right: none;
			width: 100%;
			flex-grow: 1;
		}
	}

	&__message-full {
		flex-grow: 1;

		@include respond-to(800px) {
			display: none;
		}
	}

	&__button {
		background-color: white;
		padding: 20px 15px;
		border-bottom: solid 1px $border-gray;
	}

	&--new &__message-full {
		flex: 5;
	}

	&__content {
		display: flex;
	}

	// @include respond-to(1000px) {
	// 	overflow-x: scroll;
	// 	overflow-y: hidden;
	// 	&__content {
	// 		min-width: 1200px;
	// 	}
	// }
}

.inbox-page {
	&__header {
		margin-bottom: 0;
	}
}

.db-customize {
	text-align: center;

	&__content {
		display: inline-block;
		text-align: left;
	}

	&__section {
		display: inline-block;
		margin-bottom: 30px;
	}

	&__checkbox {
		& + & {
			margin-left: 20px;
		}
	}

	&__heading {
		font-size: 18px;
		font-weight: 900;
		margin-bottom: 20px;
	}

	&__title {
		font-size: 24px;
		font-weight: 900;
		margin-bottom: 30px;
	}

	@include respond-to(600px) {
		&__checkbox {
			display: block;

			& + & {
				margin-left: 0px;
				margin-top: 10px;
			}
		}
	}
}

.message-new {
	&__form {
		width: 90%;
		padding-top: 20px;
		.form-row {
			margin-bottom: 20px;
		}

		@include respond-to(600px) {
			padding-left: 20px;
		}
	}
}

.undo-icon,
.redo-icon {
	position: relative;
	top: -6px;

	&:before {
		content: "star";
		position: absolute;
		font-size: 15px;
		left: 0;
		right: 0;
		margin: auto;
		top: 12px;
	}
}

.undo-icon-2,
.redo-icon-2 {
	position: relative;
	top: -3px !important;;

	&:before {
		content: "star";
		position: absolute;
		font-size: 10px;
		left: 0;
		right: 0;
		margin: auto;
		top: 10px;
	}
}