.faq-list {
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: 50%;
		margin-bottom: 40px;

		&:nth-child(odd) {
			padding-right: 50px;
		}
		&:nth-child(even) {
			padding-left: 50px;
		}
	}
}
.faq-item {

	&__question {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 900;
		letter-spacing: 1px;
		line-height: 18px;

		margin-bottom: 15px;
	}
	&__answer {
		font-size: 14px;
		color: $secondary-text;
		line-height: 21px;

	}
}