.home-page {

}

.home {
	&__products {
		display: flex;
		flex-wrap: wrap;

		@extend .cols;
		
		
		> * {
			@extend .cols__item;
			margin-bottom: 30px;
			flex-basis: 25%;
		}

		margin-bottom: 20px;
	}

	&__slider {
		height: 540px;

		@extend .fluid;

		margin-bottom: 80px;
	}

	&__cat-anchor {
		display: flex;
		justify-content: space-between;

		> * {
			flex-grow: 0;
		}

		margin-bottom: 80px;
	}

	&__ads {
		margin-bottom: 80px;
	}

	&__badges {
		margin-bottom: 80px;
	}
}

.slider {
	position: relative;
	&__thumbs {
		width: 100%; height: 150px;
		background-color: rgba(black, 0.54);

		position: absolute;
		bottom: 0;
		z-index: 2;
	}
	&__thumbs-content {
		@extend .container;
		height: 100%;

		display: flex;
		align-items: center;
		justify-content: flex-end;
	}
	&__thumb {
		display: block;
		width: 90px; height: 50px;

		background-size: cover;
		background-position: center;
	}
	&__thumb + &__thumb {
		margin-left: 20px;
	}

	&__slides {
		width: 100%; height: 100%;
	}
	&__slide {
		background-size: cover;
		background-position: center;
		display: block;
		width: 100%; height: 100%;
	}
	&__slide-wrapper {
	}
}

.cat-anchor {
	width: 450px; height: 250px;
	display: block;
	// margin: auto;

	background-size: cover;
	background-position: center;

	position: relative;

	&:hover &__content {
		opacity: 1;
	}

	&__content {
		opacity: 0;
		transition: opacity 0.2s;
		padding: 10px 20px;
		background-color: white;
		border: solid 1px $border-gray;

		width: 100%; height: 100%;

		display: flex;

		> * {
			flex-grow: 1;
		}
	}

	a {
		&:hover {
			color: $orange;
		}
	}

	&__title {
		background-color: rgba(black, 0.5);
		bottom: 0;
		color: white;
		display: block;
		font-size: 24px;
		text-align: center;
		font-weight: 700;
		height: 50px;
		line-height: 50px;
		position: absolute;
		width: 100%;
	}

	&__list {
		line-height: 30px;		
	}

	&__item {
		color: $secondary-text;
		font-size: 12px;
	}
	&__item-cat {
		color: $dark-text;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
	}
}

.home-footer {
	width: 100%; height: 280px;
	background-color: #333;

	color: white;
	font-size: 16px;
	line-height: 21px;
	text-align: center;

	padding-top: 50px;

	h1 {
		font-size: 42px;
		line-height: 50px;
		font-weight: 700;

		margin-bottom: 20px;
	}

	&__text {
		opacity: 0.7;
	}
}

.badge {
	font-size: 12px;
	line-height: 20px;
	color: $secondary-text;
	text-align: center;

	&__icon {
		font-size: 50px;
		color: $secondary-text;
	}
}