.profile {
	display: flex;
	align-items: center;

	&__img {
		width: 70px; height: 70px;
		background-color: $secondary-text;
		border-radius: 70px;

		margin-right: 20px;

	}

	&__name {
		font-size: 24px;
		font-weight: 700;
	}
}
.profile-page {
	.profile-page__header {
		background-color: $border-gray;
		margin-bottom: 30px;
	}
}
.rating {
	unicode-bidi: bidi-override;
	direction: rtl;

	&--disabled {
		pointer-events: none;
	}

	&__star {
		color: $orange;
		position: relative;

		cursor: pointer;

		& + & {
			margin-right: 0.5em;
		}
		

		&:hover,
		&:hover ~ &,
		&.highlight:not(:hover) {
			&:before {
				content: "\2605";
				position: absolute;
				left: 0;
			}
		}
	}
}