.step-page {
	&__steps {
		margin: 10px 0 40px;
	}

	&--wo-breadcrumb &__steps {
		margin: 60px 0;

		@include respond-to(630px) {
			margin: 0 0 20px;
			padding: 20px 0;
			border-bottom: solid 1px $border-gray;
		}
	}

	@include respond-to(630px) {
		.page-title {
			display: none;
		}
	}
}