mixin breadcrumb-item(title, link)
	li.breadcrumb__item: a(href = link)= title

.breadcrumb
	.breadcrumb__content
		ul.breadcrumb__items
			+breadcrumb-item("trang chủ", "../home")
			block breadcrumb