meta(charset = "utf-8")
meta(http-equiv = "X-UA-Compatible", content = "IE=edge")
meta(name = "description", content = "A front-end template that helps you build fast, modern mobile web apps.")
meta(name = "viewport", content = "width=device-width, initial-scale=1.0")

//- Add to homescreen
//- link(rel = "manifest", href = "manifest.json")
//- //- Fallback to homescreen for Chrome <39 on Android
//- meta(name = "mobile-web-app-capable", content = "yes")
//- meta(name = "application-name", content = "Web Starter Kit")
//- link(rel = "icon", sizes = "192x192", href = "images/touch/chrome-touch-icon-192x192.png")
//- //- Add to homescreen for Safari on iOS
//- meta(name = "apple-mobile-web-app-capable", content = "yes")
//- meta(name = "apple-mobile-web-app-status-bar-style", content = "black")
//- meta(name = "apple-mobile-web-app-title", content = "Web Starter Kit")
//- link(rel = "apple-touch-icon", href = "images/touch/apple-touch-icon.png")
//- //- Tile icon for Win8 (144x144 + tile color)
//- meta(name = "msapplication-TileImage", content = "images/touch/ms-touch-icon-144x144-precomposed.png")
//- meta(name = "msapplication-TileColor", content = "#3372DF")
//- meta(name = "theme-color", content = "#3372DF")

//- Page styles
link(rel = "stylesheet", href = "../../assets/styles/app.css")

script(src = "../../vendors/jquery.min.js")
script(src = "../../vendors/accounting.min.js")
script(src = "../../vendors/jquery-circle-progress-1.1.3/dist/circle-progress.js")

//- script(src = "../../vendors/react-0.13.3/build/react.js")
//- script(src = "../../vendors/react-0.13.3/build/JSXTransformer.js")

link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css")
script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js")