- function orangize(text) {
-   var string = "<span class=\"text-orange\">" + text + "</span>"
-	return string;
- }

html
	head
		title
			| EBachHoa - 
			block title
		include head.jade
		//- script(src = "http://modernizr.com/downloads/modernizr-latest.js")
	body(class = bodyClass)
		#page-container
			block setting
			include ./header.jade
			include ./breadcrumb.jade
			#main-content
				block content
					h1 Place page content here
			block footer
				footer.footer.footer--100
			script(src = "../../assets/scripts/app.js")
			//- script(src = "../../assets/scripts/app-react.jsx", type = "text/jsx")