.top-search
	.top-search__content
		a.top-search__logo(href = "../home")
		.top-search__search-box: form.top-search-box
			.top-search-box__icon.icon
				i.icon__icon.material-icons search
			input.top-search-box__input.text-box.text-box--transparent.text-box--no-padding(type = "text")
			select.top-search-box__select.select.select--transparent
				option Tất cả danh mục
			.top-search-box__button.top-search-box__submit-button
				a.button.button--full-width(href = "../search") tìm kiếm
			.top-search-box__button.top-search-box__more-button
				a.button.button--gray.button--rect.button--full-width(href = "../search") nâng cao