.user-bar
	.user-bar__content
		.user-bar__left
			a.user-bar__hello(href = "../profile") Chào bạn, Tuấn Minh!
			a.button.button--rect(href = "../sell") bán
			a.user-bar__link(href = "../help-contact") Liên hệ
			a.user-bar__link(href = "../help-faq") Giúp đỡ
		.user-bar__right
			a.user-bar__link(href = "../dashboard-buy") Quản lý &amp; Mua bán
			a.user-bar__icon(href = "../dashboard-inbox"): .icon
				i.icon__icon.material-icons chat
				span.icon__badge 4
			a.user-bar__icon(href = "../cart"): .icon
				i.icon__icon.material-icons shopping_cart
				span.icon__badge 2