.user-bar
	.user-bar__content
		.user-bar__left
			a.user-bar__hello(href = "#") Chào bạn, Tuấn Minh!
			a.button.button--rect(href = "#") bán
			a.user-bar__link(href = "#") Liên hệ &amp; Giúp đỡ
		.user-bar__right
			a.user-bar__link(href = "#") Quản lý &amp; Mua bán
			a.user-bar__icon(href = "#"): .icon
				i.icon__icon.material-icons chat
				span.icon__badge 4
			a.user-bar__icon(href = "#"): .icon
				i.icon__icon.material-icons shopping_cart
				span.icon__badge 2