extend ../../layouts/layout.jade

block title
	| Dashboard - Inbox

block setting
	.hide-breadcrumb

block content
	.dashboard-page.inbox-page
		.dashboard-page__header.fluid-header.inbox-page__header
			.fluid-header__content
				.fluid-header__tabs
					.fluid-header__tab: a(href = "../dashboard-buy") quản lý mua
					.fluid-header__tab: a(href = "../dashboard-sell") quản lý bán
					.fluid-header__tab.selected: a(href = "../dashboard-inbox") tin nhắn
					.fluid-header__tab: a(href = "../dashboard-customize") tuỳ chọn
		.dashboard-page__content
			.message-full.message-full--standalone
				.message-full__back
					a(href = "../dashboard-inbox") ← quay lại
				.message-full__button
					a(href = "../dashboard-inbox-new").button.button--full-width trả lời
				h1.message-full__title Email Title
				h2.message-full__user
					| From: 
					a(href = "../profile").text-orange John Appleseed (john@apple.com)
				.message-full__content
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sit amet ornare magna, eu sodales erat. Quisque id ultrices mauris, quis rhoncus urna. In commodo fringilla maximus.
					p Fusce volutpat odio et dui lacinia, nec laoreet nulla blandit. Proin ac malesuada risus. Pellentesque malesuada fringilla imperdiet. Duis ut dolor ex. Praesent et bibendum felis. Aliquam tortor lorem, tincidunt nec sagittis id, vestibulum nec mauris.
					p Fusce non erat id dui placerat luctus a vel orci. Curabitur non lectus egestas, hendrerit ipsum feugiat, pellentesque elit. Mauris dapibus iaculis varius. Praesent et bibendum felis. Aliquam tortor lorem, tincidunt nec sagittis id, vestibulum nec mauris.

block footer
	//- clear